<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atlas" type="Atlas.Configuration.XmlConfiguration, Atlas" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TransactionLoggingContext" connectionString="Data Source=MELRMSTSTSQL03;Initial Catalog=TransactionLogging;Integrated Security=True;MultipleActiveResultSets=True;Application Name=TIMI;" providerName="System.Data.SqlClient" />
    <add name="DUNSDataXmlContext" connectionString="Data Source=MELRMSTSTSQL03;Initial Catalog=DunsDataXml;Integrated Security=True;MultipleActiveResultSets=True;Application Name=CBS;" providerName="System.Data.SqlClient" />
    <add name="AplanPubContext" connectionString="Data Source=MELRMSTSTBOS01;Initial Catalog=AplanPub;User=DB_Monitoring;Password=M0nt10r24X7;MultipleActiveResultSets=True;Application Name=TIMI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <atlas>
    <host name="DnB.TIMI.ServiceHost" displayName="DnB TIMI Service" description="DnB TIMI Service" allowMultipleInstances="false">
      <runtime accounttype="NetworkService" startup="Automatic" />
    </host>
  </atlas>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="TransactionRefCounterStart" value="1000000" />
    <add key="AuthorizeTimeInMinutes" value="600" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="DnB.TIMI.ServiceImplementation.TIMIService" relativeAddress="TIMIService.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="TIMIServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="DnB.TIMI.ServiceImplementation.TIMIService" behaviorConfiguration="TIMIServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4321/TIMIService/" />
            <add baseAddress="net.tcp://localhost:6667/TIMIService/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" name="TIMIService_IAuthentication" bindingConfiguration="NetTcpBinding_NoSecurity" bindingNamespace="urn:TIMI.DnB.com.au/Service/1.0.0" contract="DnB.TIMI.ServiceContract.IAuthentication" />
        <endpoint address="" binding="netTcpBinding" name="TIMIService_ISubscriber" bindingConfiguration="NetTcpBinding_NoSecurity" bindingNamespace="urn:TIMI.DnB.com.au/Service/1.0.0" contract="DnB.TIMI.ServiceContract.ISubscriber" />
        <endpoint address="" binding="netTcpBinding" name="TIMIService_ICompany" bindingConfiguration="NetTcpBinding_NoSecurity" bindingNamespace="urn:TIMI.DnB.com.au/Service/1.0.0" contract="DnB.TIMI.ServiceContract.ICompany" />
        <endpoint address="" binding="netTcpBinding" name="TIMIService_IParticipant" bindingConfiguration="NetTcpBinding_NoSecurity" bindingNamespace="urn:TIMI.DnB.com.au/Service/1.0.0" contract="DnB.TIMI.ServiceContract.IParticipant" />
        <endpoint address="" binding="netTcpBinding" name="TIMIService_ITradeParticipantFile" bindingConfiguration="NetTcpBinding_NoSecurity" bindingNamespace="urn:TIMI.DnB.com.au/Service/1.0.0" contract="DnB.TIMI.ServiceContract.ITradeParticipantFile" />
        <endpoint address="" binding="netTcpBinding" name="TIMIService_IReports" bindingConfiguration="NetTcpBinding_NoSecurity" bindingNamespace="urn:TIMI.DnB.com.au/Service/1.0.0" contract="DnB.TIMI.ServiceContract.IReports" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <!-- Authentication Service -->
      <endpoint address="net.tcp://melrmststapp01:8011/AuthenticationServices/Authenticator" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_NoSecurity" contract="DnB.TIMI.Proxies.AuthenticationService.IAuthentication" name="AuthenticationService_IAuthentication" />
      <endpoint address="net.tcp://melrmststapp01:8011/AuthenticationServices/Management" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Management" contract="DnB.TIMI.Proxies.AuthenticationService.Management.IAuthenticationManagement" name="AuthenticationService_IAuthenticationManagement" />
      <endpoint address="net.tcp://localhost:6666/CommercialBureauService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_NoSecurity" contract="DnB.TIMI.Proxies.CommercialBureauService.Product" name="CommercialBureauService_IProduct" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_NoSecurity" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="419430400" maxReceivedMessageSize="419430400">
          <readerQuotas maxArrayLength="419430400" maxStringContentLength="419430400" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_Management" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="419430400" maxReceivedMessageSize="419430400">
          <readerQuotas maxArrayLength="419430400" maxStringContentLength="419430400" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsHttpBinding_NoSecurity" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="419430400" maxReceivedMessageSize="419430400">
          <readerQuotas maxArrayLength="419430400" maxStringContentLength="419430400" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="20485760" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Temp\TIMI_trace.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Temp\TIMI_messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>